<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <span class="navbar-brand">Luca Berni</span>
        <button class="navbar-toggler" (click)="navToggle()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTarget" aria-controls="collapseTarget" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseTarget">
            <ul class="navbar-nav d-md-flex">
                <li class="nav-item d-flex">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item not-allowed">
                    <a class="nav-link disabled" routerLink="/projects">Projects (WIP)</a>
                </li>
                <li class="nav-item not-allowed">
                    <a class="nav-link disabled" routerLink="/blog">Blog (WIP)</a>
                </li>
                <li class="nav-item not-allowed">
                    <a class="nav-link" routerLink="/resume">CV</a>
                </li>
            </ul>
                <div class="ms-auto d-flex " style="color: #fff;">
                    <div class="container d-flex" style="justify-content: space-evenly;">
                        <a class="nav-link link" href="https://www.instagram.com/_sniip_/">
                            <img src="../../../assets/media/instagram.png" alt="instagram" height="28" width="28">
                            <span class="spacer">Instagram</span>
                        </a>
                        <a class="nav-link link" href="https://github.com/byBeeMoo/">
                            <img src="../../../assets/media/github.png" alt="github" height="25" width="25">
                            <span class="spacer">Github</span>
                        </a>
                        <a class="nav-link link" href="https://www.linkedin.com/in/luca-berni-700a87201/">
                            <img src="../../../assets/media/linkedin.png" alt="linkedin" height="25" width="25">
                            <span class="spacer">Linkedin</span>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</nav>