<div class="container studies">
    <h3 class="studiestitle text-center">My Academic Background</h3>
    <div class="card border-primary mb-3">
        <div class="card-header">Italian Scientific Liceum</div>
        <div class="card-body">
          <h6 class="card-title">2003-2017</h6>
          <p class="card-text">I've studied in the Italian Science Lyceum at Barcelona.</p>
        </div>
    </div>
    <div class="card border-primary mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h6 class="card-title">Secondary card title</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-primary mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h6 class="card-title">Secondary card title</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>