<div class="container studies">
    <h3 class="studiestitle text-center">My Academic Background</h3>

    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="card border-primary col-lg-4" style="max-width: 20rem; margin: 1em 1em 1em 1em">
            <div class="card-header">Italian Scientific Lyceum</div>
            <div class="card-body">
              <h6 class="card-title">2003-2017</h6>
              <p class="card-text">I've studied in the Italian Science Lyceum at Barcelona.</p>
            </div>
        </div>
        <div class="card border-primary col-lg-4" style="max-width: 20rem; margin: 1em 1em 1em 1em">
            <div class="card-header">UPC: Telecom Engineering</div>
            <div class="card-body">
              <h6 class="card-title">2017-2019</h6>
              <p class="card-text">First two years of Telecomunications Engineering at Barcelona</p>
            </div>
        </div>
        <div class="card border-primary col-lg-4" style="max-width: 20rem; margin: 1em 1em 1em 1em">
            <div class="card-header">ICT System Administration, mention in Cybersecurity</div>
            <div class="card-body">
              <h6 class="card-title">2019-2021</h6>
              <p class="card-text">Two years of professional specialization where I learned about various fields of Computer Science</p>
            </div>
        </div>
      </div>
    </div>
</div>