/* You can add global styles to this file, and also import other style files */
html {
    user-select: none;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #4e4e4e!important;
    border-radius: 25px;
}