<div class="container about">
    <div class="container-sm">
        <p class="lead text-start aboutmetext">I'm Luca, an ICT System Administrator and Fullstack Developer living in Barcelona.</p>
        <p class="lead text-start aboutmetext">Check out some of my 
            <a class="text-warning work" href="/projects">
                work
            </a>, 
            <a class="text-danger interests" href="/blog">
                interests
            </a>, or 
            <a class="text-info resume" href="/resume">
                resume
            </a>.
        </p>
    </div>
    <div class="container" style="margin-top: 2em;">
            <a class="btn btn-primary" href="mailto:trabajoluca2@gmail.com">Contact Me!</a>
    </div>
</div>