<div class="container about">
    <div class="container-sm">
        <h1 class="lead aboutmetext">I'm Luca, an ICT System Administrator, Fullstack Developer and CyberSec enthusiastic living in Barcelona.</h1>
        <h1 class="lead aboutmetext">Check out some of my 
                <a class="text-warning work" routerLink="/projects">
                    work
                </a>,
                <a class="text-danger interests" routerLink="/blog">
                    interests
                </a>, or 
                <a class="text-info resume" routerLink="/resume">
                    resume
                </a>.
        </h1>
    </div>
    <div class="container" style="margin-top: 2em;">
            <a class="btn btn-primary" href="mailto:trabajoluca2@gmail.com">Contact Me!</a>
    </div>
</div>